:root {
  --primary-color: rgb(252, 231, 246);
  --secondary-color: rgb(215, 121, 188);
}

h1,
h2,
h3 {
  line-height: 50px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 30px;
}

h6 {
  text-align: center;
  margin: 15px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.hero {
  background-color: var(--primary-color);
  padding: 85px 0;
  text-align: center;
}

.weather-project-desc h3 {
  color: var(--secondary-color);
}

.about-me {
  text-align: center;
  margin: 35px 20px;
}

.about-me h1 {
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.about-me p {
  line-height: 1.8;
  font-size: 18px;
}

.project-title {
  font-size: 60px;
  color: var(--secondary-color);
}

.contact-title {
  font-size: 50px;
  color: var(--secondary-color);
}

.connect-links {
  color: var(--secondary-color);
  font-size: 20px;
}

.box {
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  padding: 30px;
  margin: 40px;
}

/* footer */
.mail-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-bottom: 25px;
  color: black;
}

footer p {
  font-size: 13px;
  margin: 20px;
}

footer p .link {
  color: var(--secondary-color);
}
/* end footer */

.btn-contact {
  border: 2px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px;
}

.btn-contact:hover {
  border: 2px solid;
  font-weight: 550;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.btn-view-projects {
  border: 2px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.btn-view-projects:hover {
  border: 2px solid;
  font-weight: 550;
  color: var(--secondary-color);
  background-color: white;
}

.button-view-more-projects {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 100px;
}

.btn-view-more-projects {
  border: 2px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px;
  margin-top: 5px;
}

.btn-view-more-projects:hover {
  border: 2px solid;
  font-weight: 550;
  color: white;
  background-color: var(--secondary-color);
}

@media (max-width: 770px) {
  .project-title {
    font-size: 45px;
  }

  .weather-project-desc {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .hero h1 {
    font-size: 45px;
  }
  .about-me h1 {
    font-size: 30px;
    line-height: normal;
    margin-top: 20px;
  }
  .about-me p {
    font-size: 15px;
    line-height: normal;
    font-weight: lighter;
  }

  .contact-title {
    font-size: 40px;
  }

  .connect-links {
    font-size: 15px;
  }
}

@media (max-width: 530px) {
  .about-me {
    margin: 15px;
  }
  .about-me h1 {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .about-me p {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

@media (min-width: 770px) {
  .about-me {
    margin: 70px 0;
  }
}

@media (min-width: 991px) {
  .selfie-image {
    max-width: 400px;
  }
}
